* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.ptr {
    cursor: pointer;
}

/*    main     */

main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 20px;
}

/*    sidebar     */

.sidebar {
    width: 200px;
}

menu {
    margin: 5px 0;
    -webkit-box-shadow:0px 2px 6px rgba(0, 0, 0, 0.36) ;
    box-shadow:0px 2px 6px rgba(0, 0, 0, 0.36) ;
}

.accordion {
    border: none;
    text-align: left;
    outline: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    padding: 8px 20px;
    position: relative;
}

div.accordion.active, div.accordion:hover {
    background-color: #cccccc;
}

div.panel {
    max-height: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding: 0 20px;
}

div.accordion.active+.panel {
    padding: 20px;
    max-height: 400px;
}

/*    input style     */

input[type="number"] {
    width: 50%;
    float: right;
}

/*    canvas     */

.canvas {
    flex: 1;
    font-size: 0;
    margin: 0 20px;
    transition: height 0.2s;
}

.canvas-container {
    width: calc(100% - 480px);
    height: calc(100vh - 40px);
    position: fixed;
    border: 1px solid black;
}

.tabLink {
    width: 50%;
    border: 1px solid black;
    color: black;
    font-size: 16px;
}

.preview {
    font-size: 16px;
    text-align: center;
}

#view {
    width: 100px;
    height: 200px;
    background: linear-gradient(to top left, #ff994f, #888888);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
    display: inline-block;
}

#cssCode {
    display: none;
}

/*    text box     */

#opacityBg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 10;
}

.opcOn {
    animation: opcFade .5s forwards;
}

@keyframes opcFade {
    from {
        background-color: black;
        opacity: 0;
    }
    to {
        background-color: black;
        opacity: 0.3;
    }
}

#textBox {
    position: fixed;
    height: 60vh;
    width: 50vw;
    left: calc(50% - 25vw);
    background-color: white;
    border-radius: 10px;
    border: 1px solid orange;
    transition: top ease-in-out .5s;
    top: 90vh;
    z-index: 20;
    font-size: 16px;
}

/*    opacity-tool     */

#opacity-tool {
    padding : 
}