* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.ptr {
    cursor: pointer;
}

/*    main     */

main {
    display: flex;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

/*    sidebar     */

.sidebar {
    width: 200px;
}

menu {
    border: 2px solid black;
}

.accordion {
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

div.accordion.active, div.accordion:hover {
    background-color: #ccc;
}

div.panel {
    background-color: blue;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*    preview     */

.canvas {
    flex: 1;
    border: 10px solid red;
    font-size: 0;
}

.tabLink {
    width: 50%;
    border: 1px solid black;
    color: black;
    font-size: 16px;
}

.preview {
    font-size: 16px;
}

#cssCode {
    display: none;
}

/*
.tabContent {
    display: none;
}
*/

/* text box */

#opacityBg {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 10;
}

.opcOn {
    animation: opcFade .5s forwards;
}

@keyframes opcFade {
    from {
        background-color: black;
        opacity: 0;
    }
    to {
        background-color: black;
        opacity: 0.3;
    }
}

#textBox {
    position: fixed;
    height: 60vh;
    width: 50vw;
    left: calc(50% - 25vw);
    background-color: white;
    border-radius: 10px;
    border: 1px solid orange;
    transition: all ease-in-out .5s;
    top: 90vh;
    z-index: 20;
    font-size: 16px;
}