/*    view     */

#view {
    width: 100px;
    height: 200px;
    background: -webkit-linear-gradient(bottom right, #ff994f, #888888);
    background: -o-linear-gradient(bottom right, #ff994f, #888888);
    background: linear-gradient(to top left, #ff994f, #888888);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.45);
}